[user]
	name = Fern Sanchez
	email = me@fjorn.dev
	username = ferntheplant
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[init]
	defaultBranch = main
[alias]
	st = status
	ci = commit -v
	co = checkout
	br = branch
	unstage = reset HEAD --
[core]
	editor = hx
[advice]
	addIgnoredFile = false
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
