[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "tower-crane"]
	path = tower-crane
	url = https://gitlab.com/upchieve/tower-crane.git
