<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_state</key>
	<false/>
	<key>CPU_mini_alignment</key>
	<string>center</string>
	<key>Disk_state</key>
	<false/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{848, 325}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va9ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAALABAAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAABQAAAAEB
	AABmam9ybgAAAAgAAAABAQAAZG90ZmlsZXMFAAAAAQEAAHN0YXRzAAAAEAAAAAEGAAAQ
	AAAAIAAAADAAAABAAAAACAAAAAQDAABCQgAAAAAAAAgAAAAEAwAA3xAEAAAAAAAIAAAA
	BAMAAOA3BgAAAAAACAAAAAQDAAB1EWMDAAAAABAAAAABBgAAaAAAAHgAAACIAAAAmAAA
	AAgAAAAABAAAQcc+y4OKTkMYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAAA
	AAABBQAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHH0fL+gAAA
	JAAAAAEBAABFRENDRkNCQS0zMkVGLTRDM0MtQjY3OS01OEE4MUFERDZFMzcYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAANgAAAD+////AQAAAAAA
	AAARAAAABBAAAFAAAAAAAAAABRAAAKgAAAAAAAAAEBAAANAAAAAAAAAAQBAAAMAAAAAA
	AAAAAiAAAKQBAAAAAAAABSAAABQBAAAAAAAAECAAACQBAAAAAAAAESAAAFgBAAAAAAAA
	EiAAADgBAAAAAAAAEyAAAEgBAAAAAAAAICAAAIQBAAAAAAAAMCAAAPAAAAAAAAAAAcAA
	APgAAAAAAAAAEcAAACAAAAAAAAAAEsAAAAgBAAAAAAAAAdAAAPAAAAAAAAAAENAAAAQA
	AAAAAAAA
	</data>
	<key>NSStatusItem Preferred Position CPU_mini</key>
	<real>334</real>
	<key>NSStatusItem Preferred Position Sensors_sensors</key>
	<real>300</real>
	<key>NSStatusItem Restore Position RAM_mini</key>
	<integer>441</integer>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame eu.exelban.Stats.Settings.WindowFrame</key>
	<string>396 286 728 480 0 0 1512 949 </string>
	<key>Network_state</key>
	<false/>
	<key>RAM_mini_alignment</key>
	<string>center</string>
	<key>RAM_state</key>
	<false/>
	<key>Sensors_barChart_position</key>
	<integer>3</integer>
	<key>Sensors_fanControl</key>
	<true/>
	<key>Sensors_label_position</key>
	<integer>2</integer>
	<key>Sensors_mini_position</key>
	<integer>1</integer>
	<key>Sensors_stack_position</key>
	<integer>0</integer>
	<key>Sensors_state</key>
	<true/>
	<key>Sensors_widget</key>
	<string>sensors</string>
	<key>fan_0_mode</key>
	<integer>0</integer>
	<key>fan_0_speed</key>
	<integer>6800</integer>
	<key>fan_1_mode</key>
	<integer>0</integer>
	<key>fan_1_speed</key>
	<integer>6800</integer>
	<key>sensor_Average CPU</key>
	<true/>
	<key>sensor_Hottest CPU</key>
	<true/>
	<key>setupProcess</key>
	<true/>
	<key>telemetry</key>
	<false/>
	<key>temperature_units</key>
	<string>celsius</string>
	<key>update-interval</key>
	<string>Once per month</string>
	<key>updater_check_ts</key>
	<integer>1777473613</integer>
	<key>version</key>
	<string>2.12.8</string>
</dict>
</plist>
